@import url("https://use.typekit.net/hez6kws.css");

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}

.logo-list-container {
  display: flex;
  align-items: center;
  margin-left: 360px; /* Logo ve menüyü sağa doğru 20 piksel kaydırır */
}

.logo {
  width: 120px;
  height: auto;
}
.logo-container:hover img {
  opacity: 0.6; /* veya istediğiniz bir sayı, 1 tam opak, 0 tamamen saydam */
  transition: opacity 0.1s ease;
}

.navbar {
  list-style-type: none;
  margin: 1px;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 10px;
  margin-left: 2px;
  padding-right: 10px;
  border-right: 2px solid #c4b5b8;
}

.navbar li a {
  color: black;
  font-family: "roboto-condensed", sans-serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.navbar li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #d0021b;
  transition: width 0.5s ease;
}

.navbar li a:hover::after {
  width: 100%;
  background-color: #d0021b;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 500px;
  position: relative;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  width: 250px; /* Input genişliğini artır */
  padding: 10px 35px 10px 10px; /* İkon için sağ padding ekle */
  font-size: 14px; /* Yazı boyutunu büyüt */
  border: 2px solid #ccc; /* İnput kenarlık kalınlığını artır */
  border-radius: 5px; /* Kenarları yuvarlak yap */
  font-family: "roboto-condensed", sans-serif;
}

.search-box button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px; /* Buton genişliğini ayarla */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: #88797c;
}

/* Butonun üzerine gelindiğinde ikonun rengini değiştir */
.search-box button:hover {
  color: #962c39;
}
