.gallery-container {
  width: 100%;
  overflow: hidden;
}

.image-container {
  display: flex;
  width: 100%;
  animation: slide 20s infinite;
}

.gallery-slide {
  flex: 0 0 auto; /* Flex öğelerinin boyutları otomatik olacak şekilde ayarlanır */
}

.gallery-image {
  width: 635px; /* Görsel genişliği */
  height: 357px; /* Görsel yüksekliği */
  object-fit: cover; /* Resimlerin container'a sığması için */
}

@keyframes slide {
  0% {
    transform: translateX(0); /* Başlangıç pozisyonu */
  }
  100% {
    transform: translateX(
      -100%
    ); /* Son pozisyon -100% (yani sola kaydırıyoruz) */
  }
}
